<form class="" action="<%= goal_url(@goal) %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <%= csrf_input %>

  <label for="content">Content</label>
  <input type="text" name="goal[content]" value="<%= @goal.content %>" id="content">
  <br>

  <input  type="radio" name="goal[privacy]"
          value="private", id="goal_privacy_private"
          <%= "checked" if @goal.privacy == "private" %>>
  <label for="goal_privacy_private">Private</label>
  <br>
  <input  type="radio" name="goal[privacy]"
          value="public" id="goal_privacy_public"
          <%= "checked" if @goal.privacy == "public" %>>
  <label for="goal_privacy_public">Public</label>
  <br>

  <input  type="radio" name="goal[status]"
          value="complete", id="goal_status_complete"
          <%= "checked" if @goal.status == "complete" %>>
  <label for="goal_status_complete">Complete</label>
  <br>
  <input  type="radio" name="goal[status]"
          value="incomplete" id="goal_status_incomplete"
          <%= "checked" if @goal.status == "incomplete" %>>
  <label for="goal_status_incomplete">Incomplete</label>
  <br>

  <input type="submit" value="Submit">

</form>
